h1, h2 {
  text-align: center;
}

select {
  font-size: 26px;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
}

button {
  font-size: 26px;
  background-color: #1a3ca2;
  border-radius: 5px;
  padding: 10px;
  color: white;
  width: 100%;
  margin-bottom: 20px;
}

#puzzleDropdown {
  width: 100%;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.content {
  text-align: center;
  padding: 60px 40px;
  margin-bottom: 20px;
  font-size: 48px;
  font-family: monospace;
}

#solves {
  font-size: 18px;
}

.solve {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.solve:hover {
  background-color: lightgray;
}

.solve .duration {
  font-size: 26px;
}

.solve .recorded-at {
  float: right;
  opacity: 0.75;
  padding-top: 6px;
}
